 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}
.container{
        height: 500vh;
}
.header{
    background-color: rgb(255, 255, 255);
    padding: 10px 50px;
    width: 95vw;
    position: fixed;
    display:flex;
    justify-content: space-between;
    z-index: 1;
    
}
.left{
    display: flex;

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center
}
.logo img{
    width:50px; 
    border-radius: 50%;   
}
.name{
    padding-left: 5px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    font-family: "Source Sans 3", sans-serif;
}
.name:hover{
    color: rgb(120, 67, 233);
}

.item-container{
    display: flex;
    list-style: none;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item a{ 
    padding: 22px 33px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.item a:hover{
    color:rgb(120, 67, 233);
}
.main{
    height: 100vh;
    background: linear-gradient(to right, rgba(230, 230, 230, 0.8), rgba(225, 225, 225, 0.8)),
        url(./src/common-bg.svg);
        height: 800px;
    
}
.content{
    /* background-color: aquamarine; */
    padding: 10px 50px;
    position: absolute;
    left: 20%;
    top: 35%;
    width: 900px;
    
}
.heading{
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 30px;
    font-weight: 600;
}
.paragraph{
    display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        font-size: 20px;
        padding: 10px 60px;
        flex-wrap: wrap;
        text-align: center;        
}
.btn{
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
    
}

.btn a{
    padding: 15px 20px;
    background-color: #7843E9;;
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    width: 20%;
    display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: 600;
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        transition: transform 0.5s ease;
        
}
.btn a:hover{
    transform: translateY(-7px);
}
.socials{
    position: absolute;
    top:40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.social-items{
    padding:5px;
}
.social-items img{

        width: 35px;
        cursor:pointer;
}
.third-section{
    /* background-color: rgb(250, 250, 250); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.about-me{
    padding: 100px 0px;
   text-align: center;
    width: 60%;
    /* background-color: #3f9d14; */
}

.aboutme-heading h1{
    padding-bottom: 10px;
font-size: 40px;
    font-weight:600;
}
.aboutme-dash{
        background-color: #7843E9;
        width: 29px;
        height: 5px;
        border-radius: 2px;
        margin: auto;
}
.aboutme-content{
    display: flex;
    justify-content: center;
    margin-top: 10px;    
    color: #555555;

/* background-color: #e39378; */

}
.aboutme-content p{
    padding-top: 10px;
    max-width: 80%;
    font-size: 20px;
    font-weight: 400;
}
.box-container{
    width: 80%;
    margin: auto;
    color: rgb(102, 102, 102);
    display: flex;
    gap: 100px;
}
.get-to-know-me{
    max-width: 45%;
    
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    text-align: left;
}
.get-to-know-me h3{
    color: black;
    padding-left: 10px;
    font-size: 30px;
    padding-bottom: 24px;
}

.get-to-know-me p{
    padding: 10px;
    font-size: 20px;

}
.contact-btn{
    padding-top:10px ;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 80px;
}
.contact-btn a{
    margin-left: 10px;

}
.skills-container{
    
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        text-align: left;
        width: 50%;
}
.skills-container h3{
    color: black;
        padding-left: 10px;
        font-size: 30px;
        padding-bottom: 24px;
    }

.skills-list{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}

.skills{
        background: rgba(153, 153, 153, 0.2);
    width: fit-content;
    padding: 8px 20px;
    color: #666;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.fourth-section{
    background-color: rgb(255,255,255);
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.project{
padding: 100px 0px;
    text-align: center;
    width: 60%;
}
.project-heading h1{
padding-bottom: 10px;
    font-size: 40px;

}
.project-dash{
    background-color: #7843E9;
        width: 29px;
        height: 5px;
        border-radius: 2px;
        margin: auto;
}
.project-content{
    display: flex;
        justify-content: center;
        margin-top: 10px;
        color: #555555;
}
.project-content p {
    padding-top: 10px;
    max-width: 80%;
    font-size: 20px;
    font-weight: 500;
    color: #666;
}