 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}
.container{
        height: 500vh;
}
.header{
    background-color: rgb(255, 255, 255);
    padding: 10px 50px;
    width: 95vw;
    position: fixed;
    display:flex;
    justify-content: space-between;
    z-index: 1;
    
}
.left{
    display: flex;

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center
}
.logo img{
    width:50px; 
    border-radius: 50%;   
}
.name{
    padding-left: 5px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    font-family: "Source Sans 3", sans-serif;
}
.name:hover{
    color: rgb(120, 67, 233);
}

.item-container{
    display: flex;
    list-style: none;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item a{ 
    padding: 22px 33px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.item a:hover{
    color:rgb(120, 67, 233);
}
.main{
    height: 100vh;
    background: linear-gradient(to right, rgba(230, 230, 230, 0.8), rgba(225, 225, 225, 0.8)),
        url(./src/common-bg.svg);
        height: 800px;
    
}
.content{
    /* background-color: aquamarine; */
    padding: 10px 50px;
    position: absolute;
    left: 20%;
    top: 35%;
    width: 900px;
    
}
.heading{
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 30px;
    font-weight: 600;
}
.paragraph{
    display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        font-size: 20px;
        padding: 10px 60px;
        flex-wrap: wrap;
        text-align: center;        
}
.btn{
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
    
}

.btn a{
    padding: 15px 20px;
    background-color: #7843E9;;
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    width: 20%;
    display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: 600;
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        transition: transform 0.5s ease;
        
}
.btn a:hover{
    transform: translateY(-7px);
}
.socials{
    position: absolute;
    top:40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.social-items{
    padding:5px;
}
.social-items img{

        width: 35px;
        cursor:pointer;
}
.third-section{
    background-color: rgb(250, 250, 250);
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.about-me{
    padding: 100px 0px;
   text-align: center;
    width: 60%;
    /* background-color: #3f9d14; */
}

.aboutme-heading h1{
    padding-bottom: 10px;
    font-size: 40px;
    font-weight:600;
}
.aboutme-dash{
        background-color: #7843E9;
        width: 29px;
        height: 5px;
        border-radius: 2px;
        margin: auto;
}
.aboutme-content{
    display: flex;
    justify-content: center;
    margin-top: 10px;    
    color: #555555;

/* background-color: #e39378; */

}
.aboutme-content p{
    padding-top: 10px;
    max-width: 80%;
    font-size: 20px;
    font-weight: 400;
}
.box-container{
    width: 80%;
    margin: auto;
    color: rgb(102, 102, 102);
    display: flex;
    gap: 100px;
}
.get-to-know-me{
    max-width: 45%;
    
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    text-align: left;
}
.get-to-know-me h3{
    color: black;
    padding-left: 10px;
    font-size: 30px;
    padding-bottom: 24px;
}

.get-to-know-me p{
    padding: 10px;
    font-size: 20px;

}
.contact-btn{
    padding-top:10px ;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 80px;
}
.contact-btn a{
    margin-left: 10px;

}
.skills-container{
    
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        text-align: left;
        width: 50%;
}
.skills-container h3{
    color: black;
        padding-left: 10px;
        font-size: 30px;
        padding-bottom: 24px;
    }

.skills-list{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}

.skills{
        background: rgba(153, 153, 153, 0.2);
    width: fit-content;
    padding: 8px 20px;
    color: #666;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.fourth-section{
    background-color: rgb(255,255,255);
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.project{
padding: 100px 0px;
    text-align: center;
    width: 75%;
}
.project-heading h1{
padding-bottom: 10px;
    font-size: 40px;

}
.project-dash{
    background-color: #7843E9;
        width: 29px;
        height: 5px;
        border-radius: 2px;
        margin: auto;
}
.project-content{
    display: flex;
        justify-content: center;
        margin-top: 10px;
        color: #555555;
}
.project-content p {
    padding-top: 10px;
    max-width: 80%;
    font-size: 20px;
    font-weight: 500;
    color: #666;
}
.projects-list{
    padding-top: 70px;
}

.project-items {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding-top: 20px;
    padding-bottom: 90px;

}

.project-image-container img{
    width: 600px;
}
.project-detail{
    max-width: 80%;
    padding-top: 68px;
    padding-left: 35px ;
    text-align: left;
}
.project-detail h2{
    font-size: 28px;
   
}
.project-detail p{
    padding-top: 10px;
        font-size: 20px;
        color: #555555;
}
.link-btn{
    display: flex;
    justify-content: left;
            padding: 5px 0px;
            font-size: 12px;
            width: 60%;
        
}
.link-btn a{
    padding: 10px 12px;
}
.github-btn a{
    padding: 10px 25px;
}
.fifth-section{
        background: linear-gradient(to right, rgba(230, 230, 230, 0.8), rgba(225, 225, 225, 0.8)),
            url(./src/common-bg.svg);
        height: 1100px;
        display: flex;
            flex-direction: column;
            align-items: center;
}
.contact{
    padding: 90px 0px;
    text-align: center;
    width: 60%;
}
.contact-form{
    padding: 45px 20px;
    width: 50%;
    background-color: rgb(254, 254, 254);
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}
form{
    padding: 5px 20px;
}
.form-feild{
    row-gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    /* background-color: aqua; */
    padding-bottom: 30px ;
}
.form-feild label{
    /* background-color: rgb(234, 185, 23); */
    width: 100%;
    display: flex;
    justify-content: left;
    font-size: 1.1rem;
        color: rgb(126, 107, 97);
        font-weight: 600;
    
}
.form-feild input{
    height: 50px;
    width: 96%;
    padding: 5px 15px;

        color: #333;
            border: 1px solid #ebebeb;
            background: #f0f0f0;
            border-radius: 5px;
            font-weight: 600;
            font-size: 1rem;
}
textarea{
 height: 200px;
        width: 96%;
        padding: 15px 15px;
    
        color: #494747;
        border: 1px solid #ebebeb;
        background: #f0f0f0;
        border-radius: 5px;
        font-weight: 600;
        font-size: 1rem;
 
}
.footer{
    padding-top: 125px;
    background-color: #000000;
    height: 250px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.footer-items-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    width: 80%;
}
.footer-items-container h2{
    margin-bottom: 10px;
}
.footer-left{
    color: white;
    font-size:18px;
    width:40%;
    

}

.footer-right {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    color: white;
    font-size: 18px;
    width: 40%
}
.footer-right h2{
    padding-right: 32px;
}

.socaial-logo-container{
        display: flex;
        flex-direction:row ;
}
.socaial-logo-container img{
    width: 30px;
    filter: invert(1);
}
.line{
    margin-top: 50px;
    width: 80%;
    background-color: #ebebeb;
    height: 0.6px;
}
.copyrights{
    padding-top: 18px;
    color: white;

}